#index-content {
  background-color: black; 
}

* {
  font-family: Verdana;
}


h1,
h2,
h3 {
  text-align: center;
  font-weight: normal;
  background-color: black
}


h1,
h2 {
  color: white;
}


h3,
p {
  color: gray;
}


h1 {
  font-size: 50px;
}


h2 {
  font-size: 42px;
}


h3 {
  font-size: 21px;
}


h3,
.excursion {
  text-align: right;
}


p {
  color: aquamarine;
  font-size: 16px;
}
